<% layout('layout/boilerplate') -%>

<div class="container">
  <h1 class="text-primary">Markd</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut blanditiis
    quam, unde fuga aperiam dolorum veritatis repudiandae illum id recusandae
    eligendi, repellendus quia! Deleniti earum officiis eligendi quis.
    Explicabo, quas.
  </p>
</div>
