@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lavishly+Yours&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

/* font-family: "Reddit Sans", sans-serif; */
/* font-family: "Nunito Sans", sans-serif; */
/* font-family: "Cookie", sans-serif; */
/* .btnNew {
  width: 300px;
} */

#map{
  width: 850px;
  height: 500px;
  border-radius: 5px;
}