<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <title>Markd</title>
  </head>
  <body class="d-flex flex-column vh-100 mb-3">
    <%-include('../partials/navbar') %>
    <div class="row">
      <div class="col col-6 offset-3">
        <main class="container mt-5">
          <section><%- body -%></section>
        </main>
      </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script>
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
